<footer class="footer">
  <div class="footer__img">
    <img src="./img/decor/bells.png" alt="" />
  </div>

  <div class="footer__container">
    <h3 class="title2">А також ви можете обрати...</h3>

    <div class="footer__wrapp">
      <a href="#" class="btn-def btnB">Інші бокси</a>
      <a href="#" class="btn-def btnL">Книжкові букети</a>
    </div>

    <h4 class="title4">Зв’яжіться з нами, якщо виникли питання</h4>

    <ul class="footer__list">
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="./img/icons/soc1.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="./img/icons/soc2.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="./img/icons/soc3.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</footer>
