body {
  /* Colors */
  --cm: #000;
  --cw: #fff;
  --cg: #13392a;
  --cl: #a19a1c;
  --cb: #55b8dc;
  --cr: #e81d1d;
  --cr1: #fd0101;
  --cr2: #780000;

  /* Fonts */
  --ff: "Lexend", sans-serif;
}
