<section class="fqa sec-def">
  <div class="fqa__container">
    <h2 class="title2">Часті запитання</h2>
    <ul class="fqa__list">
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__box">
            <h5>Одне з питань які часто ставлять</h5>

            <span></span>
          </div>
          <div class="fqa__panel">
            <p class="ac-panel">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__box">
            <h5>Одне з питань які часто ставлять</h5>

            <span></span>
          </div>
          <div class="fqa__panel">
            <p class="ac-panel">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="fqa__box">
            <h5>Одне з питань які часто ставлять</h5>

            <span></span>
          </div>
          <div class="fqa__panel">
            <p class="ac-panel">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="btn-def">Оформити підписку</button>
  </div>
</section>
