<section class="hero">
  <div class="hero__container">
    <a href="./index.html" class="custom-logo-link">
      <img src="./img/icons/logo.png" alt="Logo" />
    </a>

    <h1 class="title1">
      Святкова підписка на книжкові бокси від Білого кролика
    </h1>

    <div class="hero__text">до дня святого Миколая та Різдва</div>

    <button type="button" class="btn-def">Оформити підписку</button>

    <div class="hero__remained">
      <p>
        залишилось
        <span class="remained">
          <span>29</span>
          <img src="./img/decor/calendar.png" alt="" />
        </span>
        днів
      </p>
    </div>
  </div>

  <div class="hero__bg no-select">
    <img src="./img/decor/bg.jpeg" alt="" />
  </div>
</section>
