<section class="present sec-def">
  <div class="present__container">
    <h2 class="title2">Ви отримаєте</h2>
    <div class="present__video">
      <video poster="./img/content/present.jpg" preload="metadata">
        <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
        <source src="./img/media/mov-webm.webm" type="video/webm" />
      </video>

      <button type="button" class="present__play">
        <img src="./img/icons/play.png" alt="" />
      </button>
    </div>
  </div>
</section>
