<section class="receive sec-def">
  <div class="receive__container">
    <h2 class="title1 tl-bl">Ви отримаєте</h2>
    <ul class="receive__list">
      <li class="receive__card">
        <div class="receive__img">
          <img src="./img/icons/receive1.png" alt="" />
        </div>
        <h3 class="title3 tl-bl">Гарантований святковий настрій</h3>
        <div class="text-def">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
      </li>
      <li class="receive__card">
        <div class="receive__img">
          <img src="./img/icons/receive2.png" alt="" />
        </div>
        <h3 class="title3 tl-bl">
          Тільки ті книги, які будуть цікавими для вас
        </h3>
        <div class="text-def">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
      </li>
      <li class="receive__card">
        <div class="receive__img">
          <img src="./img/icons/receive3.png" alt="" />
        </div>
        <h3 class="title3 tl-bl">
          Затишну атмосферу, завдяки наповненню боксів
        </h3>
        <div class="text-def">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
      </li>
      <li class="receive__card">
        <div class="receive__img">
          <img src="./img/icons/receive4.png" alt="" />
        </div>
        <h3 class="title3 tl-bl">
          Смаколики і напої які підійдуть під настрій
        </h3>
        <div class="text-def">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="btn-def">Оформити підписку</button>
  </div>
</section>
