<section class="reviews sec-def">
  <div class="reviews__container">
    <h2 class="title2 tl-bl">Наші відгуки</h2>

    <div class="reviews__splide splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="reviews__box">
              <div class="reviews__ava ibg">
                <img src="./img/icons/ava.png" alt="" />
              </div>
              <div class="reviews__info">
                <p class="reviews__name">Ім’я Прізвище</p>
                <p class="reviews__subs">Підписка на 6 місяців</p>
              </div>
            </div>
            <div class="reviews__mess">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="reviews__box">
              <div class="reviews__ava ibg">
                <img src="./img/icons/ava.png" alt="" />
              </div>
              <div class="reviews__info">
                <p class="reviews__name">Ім’я Прізвище</p>
                <p class="reviews__subs">Підписка на 6 місяців</p>
              </div>
            </div>
            <div class="reviews__mess">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="reviews__box">
              <div class="reviews__ava ibg">
                <img src="./img/icons/ava.png" alt="" />
              </div>
              <div class="reviews__info">
                <p class="reviews__name">Ім’я Прізвище</p>
                <p class="reviews__subs">Підписка на 6 місяців</p>
              </div>
            </div>
            <div class="reviews__mess">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="reviews__box">
              <div class="reviews__ava ibg">
                <img src="./img/icons/ava.png" alt="" />
              </div>
              <div class="reviews__info">
                <p class="reviews__name">Ім’я Прізвище</p>
                <p class="reviews__subs">Підписка на 6 місяців</p>
              </div>
            </div>
            <div class="reviews__mess">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
